html, body{
    height: 100%;
    width: 100%;
}
body{
    margin: 0px;
}

#app, #app>div, .App-root-1, .App-root-1>div, .App-root-1>div>div, .App-root-1>div>div>div, .App-root-1>div>div>div>div,  .App-root-1>div>div>div>div>div{
    height: 100%;
}

.MuiDrawer-paper-39{
    overflow: hidden !important;
}